<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>953311176777-63o3rbi86j1rvfiotkdf0kfu1pphh6uo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.953311176777-63o3rbi86j1rvfiotkdf0kfu1pphh6uo</string>
	<key>API_KEY</key>
	<string>AIzaSyB3xmhSlDvK6C8XK7T_uGAsuFgPWX2nWn4</string>
	<key>GCM_SENDER_ID</key>
	<string>953311176777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lambiengcode.now</string>
	<key>PROJECT_ID</key>
	<string>now-app-a2d29</string>
	<key>STORAGE_BUCKET</key>
	<string>now-app-a2d29.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:953311176777:ios:24249b6984b2feba8d3798</string>
</dict>
</plist>